.toolbar-main-box {
  height: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  border-radius: 0.75rem;
  z-index: 1;
}

.avatar {
  background-image: url("../../../assets/avatar.png");
  width: 4rem;
  height: 4rem;
  border: 0.25rem solid white;
  border-radius: 50%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  margin-bottom: 4rem;
}

button {
  background-color: transparent;
  border: transparent;
}

.component-icon {
}
