*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  min-width: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  /* clr - color, fs - font size, ff - font family, fw - font weight */

  --clr-gradient-main-background-start: hsl(244, 66%, 91%);
  --clr-gradient-main-background-middle: hsl(306, 23%, 91%);
  --clr-gradient-main-background-end: hsl(207, 27%, 94%);

  --clr-gradient-main-window-background-start: hsl(213, 48%, 95%);
  --clr-gradient-main-window-background-end: hsl(327, 43%, 96%);

  --clr-gradient-toolbar-background-start: hsl(249, 73%, 93%);
  --clr-gradient-toolbar-background-end: hsl(318, 42%, 94%);

  --clr-regular-cards-background: hsl(0, 0%, 99%);

  --clr-gradient-cards-dark-background: hsl(273, 66%, 48%);
  --clr-gradient-cards-bright-background: hsl(336, 100%, 72%);

  --clr-special-buttons-color: hsl(263, 49%, 85%);

  --clr-icons-dark: hsl(262, 60%, 46%);
  --clr-icons-bright: hsl(267, 50%, 75%);
  --clr-icons-background: hsl(0, 0%, 100%);

  --clr-dark-font: hsl(240, 20%, 2%);
  --clr-semi-bright-font: hsl(243, 65%, 73%);
  --clr-bright-font: hsl(305, 43%, 95%);

  --ff-primary: "Hind Siliguri";

  --fw-light: 300;
  --fw-regular: 400;
  --fw-meium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

#root,
html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(
    to bottom,
    var(--clr-gradient-main-background-start),
    var(--clr-gradient-main-background-middle),
    var(--clr-gradient-main-background-end)
  );
  // background-color: var(--clr-dark-font);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
