*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  min-width: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  /* clr - color, fs - font size, ff - font family, fw - font weight */
}

#root,
html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
