.dashboard-main-box {
  --clr-gradient-toolbar-background-start: hsl(262, 91%, 91%);
  --clr-gradient-toolbar-background-end: hsl(293, 72%, 93%);

  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
    to bottom,
    var(--clr-gradient-toolbar-background-start),
    var(--clr-gradient-toolbar-background-end)
  );
  border-radius: 0.75rem;
}
